@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root{
    --mainColor: #50C878 ;
    --primaryColor: #fff;
    --secondaryColor:  #87CEEB;
}
.col-img{
    width: 12rem;
    height: 12rem;
    margin: 2rem;
}
.joint{
    text-transform: uppercase;
    color: var(--secondaryColor);
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;
   
}
.logos{
    text-align: center;
}
.hand{
    width: 15rem;
}
@media screen and (max-width:1400px){
    .col-img{
        width: 8rem;
        height: 8rem;
        margin: 2rem;
    }

}
@media screen and (max-width:960px){
    .col-img{
        width: 8rem;
        height: 8rem;
        margin: 1rem;
    }
}
@media screen and (max-width:790px){
    .col-img{
        width: 7rem;
        height: 7rem;
        margin: 0.5%;
    }
}
@media screen and (max-width:590px){
    .col-img{
        width: 5rem;
        height: 5rem;
        margin: 0.5%;
    }
}
@media screen and (max-width:500px){
    .col-img{
        width: 15%;
        height: 15%;
        margin: 0.5%;
    }
    .joint{
        font-size: 2rem;
    }
}
 